.bottom {
	width: 100%;
	height: auto;
	background: #fafafa;
	padding: 25px 0;
	&__conteiner {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	&__text {
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.2px;
		color: #737373;
		text-transform: capitalize;
	}

	&__svg {
		a {
			margin: 0 10px;
			&:last-child {
				margin: 0 0 0 10px;
			}
		}
	}
}
@media (max-width: 550px) {
	.bottom {
		padding: 25px 0 60px;
		&__conteiner {
			flex-direction: column;
			align-items: flex-start;
		}
		&__svg {
			margin: 30px 0 0 0;
		}
	}
}
